# Database Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=customer_registry

# Datadog Configuration (Optional for local execution)
DD_API_KEY=place_your_datadog_api_key_here
DD_SITE=us5.datadoghq.com

# API Configuration
PORT=8080